{:session-tags [:orchestration]
 :reach        :one
 :data         {:bean-repo         "git@github.com:slagyr/orchestration.git"
                :notification-comm {:id :discord :channel "pub"}
                :human-help-comm   {:id :imessage :target "micahmartin@mac.com"}
                :plan-band         "orchestration-plan"
                :work-band         "orchestration-work"
                :verify-band       "orchestration-verify"}}
