{:paths ["src" "spec"]

 :deps {speclj/speclj {:mvn/version "3.13.0"}}

 :tasks
 {spec {:doc      "Run speclj specs"
        :requires ([speclj.main :as speclj])
        :task     (if (seq *command-line-args*)
                    (apply speclj/-main "-c" "-D" "spec" *command-line-args*)
                    (speclj/-main "-c" "-D" "spec"))}}}
